<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory Traversal Demo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Include the common header -->
    <th:block th:insert="~{header :: header}"></th:block>
    <div class="container mt-5">
        <h3>Viewing File: <code th:text="${filePath}"></code></h3>
        <p th:text="${fileContent}"></p>
        
    </div>
</body>
</html>